@import url("https://fonts.googleapis.com/css2?family=Lato&family=Roboto&family=Ubuntu&display=swap");
.logo {
  height: 55px;
  width: 140px;
}

.padding {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
}

.header .navlinks li {
  display: inline-block;
  color: black;
  padding: 0 40px;
}

.header .navlinks li:hover {
  transform: scale(1.1);
}

.header .navlinks a {
  font-size: 18px;
  font-weight: bold;
  text-decoration: none;
}

.header .btn button {
  font-weight: 22px;
  color: black;
  padding: 9px 25px;
  background-color: rgb(203, 222, 255);
  border: none;
  border-radius: 50px;
  transition: all 0.3s ease 0s;
}

.header .btn button:hover {
  background-color: rgb(203, 222, 255);
  color: rgb(129, 159, 214);
  transform: scale(1.1);
}

footer {
  margin-top: 2%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 3%;
}

footer div ul li {
  display: inline-block;
  bottom: 20px;
  padding: 10px;
}

footer div p {
  font-weight: 600;
  font-size: x-small;
}

.titulo {
  font-size: 30pt;
  font-weight: 700;
  letter-spacing: 0.05em;
  margin-top: 3%;
  margin-bottom: 2%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.titlesize {
  font-size: 60px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}

.titlebox {
  position: absolute;
  width: 300px;
  right: 7%;
  top: 55%;
  text-align: right;
}
.titlebox .album_name {
  display: inline-block;
  font-size: 10vh;
  letter-spacing: 1px;
  font-weight: 700;
  line-height: 90px;
  margin-bottom: 20px;
}
.titlebox .album_name a {
  text-decoration: none;
  color: black;
}
.titlebox .artist_name a {
  display: inline-block;
  font-size: 3vh;
  letter-spacing: 1px;
  font-weight: 500;
  margin-right: 5px;
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.titlebox .mainline {
  position: relative;
  width: 170px;
  float: right;
  margin-top: 30px;
  border-bottom: 1px solid #000000;
  margin-right: 5px;
}

.lanzamientos {
  position: relative;
  width: 60%;
  text-align: right;
  float: right;
  margin-top: 12px;
}
.lanzamientos a {
  text-decoration: none;
  font-size: small;
  color: black;
}

.discos .info {
  display: flex;
  justify-content: space-evenly;
  font-size: 10pt;
  font-weight: 600;
  margin-bottom: 30px;
  padding: 5px;
}

.textos {
  height: 25px;
  width: 90px;
  background-color: rgb(199, 199, 199);
  opacity: 60%;
  margin: 3px;
  padding: 3px;
  font-weight: bolder;
  display: inline-block;
  text-align: left;
  position: relative;
  left: -42px;
  top: 100px;
}

.textos2 {
  height: 50px;
  width: 115px;
  background-color: rgb(199, 199, 199);
  opacity: 60%;
  margin: 3px;
  padding: 3px;
  position: relative;
  left: 210px;
  bottom: 60px;
  font-weight: bolder;
}

.side {
  position: absolute;
  width: 100%;
  height: auto;
  overflow: hidden;
  min-width: 1200px;
  max-width: 1200px;
}

.side .side2 {
  position: fixed;
  width: 350px;
  top: 400px;
  text-align: center;
  right: -75px;
  font-weight: 700;
  font-size: 10pt;
  letter-spacing: 2px;
  color: #333;
  transform: rotate(90deg);
  -webkit-transform: rotate(90deg);
}

.side span {
  display: inline-block;
  width: 130px;
  border-top: 1px solid #000;
  vertical-align: middle;
  margin: 0 25px;
}

@media only screen and (max-width: 989px) {
  .side {
    display: none;
  }
}
.discos .portada {
  height: 250px;
  width: 250px;
}

.fotos {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 5%;
}

.muvi {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
}

.muvi2 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 2%;
}

.carousel {
  height: 80vh;
  width: 95vw;
  position: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

iframe {
  height: 80vh;
  width: 75vw;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeIn {
  animation: fadeIn 2s;
}

.fondo {
  background-image: url("../imagenes/bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  align-self: center;
}

.fondo2 {
  background-color: rgb(243, 243, 243);
}

.contenedorContacto {
  width: 800px;
  height: 500px;
  border: #000 solid 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  margin-left: 30%;
  margin-bottom: 3%;
  margin-top: 2%;
}

.contenedorContacto .instrucciones {
  display: flex;
  justify-content: center;
  padding: 10px;
}

.form li {
  padding: 10px;
}

.contenedor {
  height: 400px;
  width: 600px;
  padding-bottom: 10px;
}

.btn2 {
  background-color: white;
  border: white;
}

.contact_form {
  width: 460px;
  height: auto;
  margin: 80px auto;
  border-radius: 10px;
  padding-top: 30px;
  padding-bottom: 20px;
  background-color: rgb(228, 228, 228);
  padding-left: 30px;
}

input {
  background-color: #fbfbfb;
  width: 408px;
  height: 40px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(122, 149, 199);
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
}

textarea {
  background-color: #fbfbfb;
  width: 405px;
  height: 150px;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: rgb(122, 149, 199);
  margin-top: 10px;
  padding-left: 10px;
  margin-bottom: 20px;
  padding-top: 15px;
}

label {
  display: block;
  float: center;
}

.botonesform {
  height: 45px;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  background-color: rgb(181, 191, 211);
  border-color: rgb(138, 160, 202);
  border-style: solid;
  border-radius: 10px;
  width: 200px;
  cursor: pointer;
}

/*# sourceMappingURL=estilos.css.map */
