footer {
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 3%;
}

footer div ul li {
    display: inline-block;
    bottom: 20px;
    padding: 10px;
}

footer div p {
    font-weight: 600;
    font-size: x-small;
}

