.muvi {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}

.muvi2 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2%;
}

.carousel{
    height: 80vh;
    width: 95vw;
    position: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
   }

   iframe {
    height: 80vh;
    width: 75vw;
   }
